<p id="notice"><%= notice %></p>

<h1>Igdb Platforms</h1>

<table>
  <thead>
    <tr>
      <th>Igdb</th>
      <th>Name</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @igdb_platforms.each do |igdb_platform| %>
      <tr>
        <td><%= igdb_platform.igdb %></td>
        <td><%= igdb_platform.name %></td>
        <td><%= igdb_platform.slug %></td>
        <td><%= link_to 'Show', igdb_platform %></td>
        <td><%= link_to 'Edit', edit_igdb_platform_path(igdb_platform) %></td>
        <td><%= link_to 'Destroy', igdb_platform, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Igdb Platform', new_igdb_platform_path %>
