<p id="notice"><%= notice %></p>

<p>
  <strong>Igdb:</strong>
  <%= @igdb_platform.igdb %>
</p>

<p>
  <strong>Name:</strong>
  <%= @igdb_platform.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @igdb_platform.slug %>
</p>

<%= link_to 'Edit', edit_igdb_platform_path(@igdb_platform) %> |
<%= link_to 'Back', igdb_platforms_path %>
