<%= form_with(model: igdb_theme, local: true) do |form| %>
  <% if igdb_theme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(igdb_theme.errors.count, "error") %> prohibited this igdb_theme from being saved:</h2>

      <ul>
      <% igdb_theme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :igdb %>
    <%= form.number_field :igdb %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
