<p id="notice"><%= notice %></p>

<h1>Igdb Themes</h1>

<table>
  <thead>
    <tr>
      <th>Igdb</th>
      <th>Name</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @igdb_themes.each do |igdb_theme| %>
      <tr>
        <td><%= igdb_theme.igdb %></td>
        <td><%= igdb_theme.name %></td>
        <td><%= igdb_theme.slug %></td>
        <td><%= link_to 'Show', igdb_theme %></td>
        <td><%= link_to 'Edit', edit_igdb_theme_path(igdb_theme) %></td>
        <td><%= link_to 'Destroy', igdb_theme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Igdb Theme', new_igdb_theme_path %>
