<p id="notice"><%= notice %></p>

<p>
  <strong>Igdb:</strong>
  <%= @igdb_theme.igdb %>
</p>

<p>
  <strong>Name:</strong>
  <%= @igdb_theme.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @igdb_theme.slug %>
</p>

<%= link_to 'Edit', edit_igdb_theme_path(@igdb_theme) %> |
<%= link_to 'Back', igdb_themes_path %>
