<p id="notice"><%= notice %></p>

<h1>Igdb Games</h1>

<table>
  <thead>
    <tr>
      <th>Igdb</th>
      <th>Name</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @igdb_games.each do |igdb_game| %>
      <tr>
        <td><%= igdb_game.igdb %></td>
        <td><%= igdb_game.name %></td>
        <td><%= igdb_game.slug %></td>
        <td><%= link_to 'Show', igdb_game %></td>
        <td><%= link_to 'Edit', edit_igdb_game_path(igdb_game) %></td>
        <td><%= link_to 'Destroy', igdb_game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Igdb Game', new_igdb_game_path %>

<%= paginate @igdb_games %>
