<p id="notice"><%= notice %></p>

<p>
  <strong>Igdb:</strong>
  <%= @igdb_game.igdb %>
</p>

<p>
  <strong>Name:</strong>
  <%= @igdb_game.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @igdb_game.slug %>
</p>

<%= link_to 'Edit', edit_igdb_game_path(@igdb_game) %> |
<%= link_to 'Back', igdb_games_path %>
